<footer data-stellar-background-ratio="5">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-4">
                   <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Informacion de Contacto</h4>
                        <p>Recuerda que prestamos servicios fisioterapeuticos, atencion, cuidados y
                             acompañamientos Hospitalarios en la comodidad de tu hogar u oficina.</p>

                        <div class="Informacion de Contacto">
                             <p><i class="fa fa-phone"></i> 322 8267712 - 314 2112959</p>
                             <p><i class="fa fa-envelope-o"></i> <a href="#">Biosalud.servicio@gmail.com</a></p>
                        </div>
                   </div>
              </div>




              <div class="col-md-4 col-sm-4">
                   <div class="footer-thumb">
                        <div class="opening-hours">
                             <h4 class="wow fadeInUp" data-wow-delay="0.4s">Horarios de Atención</h4>
                             <p> Trabajamos las<span>24 horas</span> del dia</p>

                        </div>

                        <ul class="social-icon">
                             <li><a href="https://www.facebook.com/100105404673818/posts/476070493743972/?sfnsn=scwspmo#"
                                       class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-12 col-sm-12 border-top">
                   <div class="col-md-4 col-sm-6">
                        <div class="copyright-text text-align-center">
                             <p>Copyright &copy; 2022 BioSalud

                                  | Design: Tooplate</p>
                        </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                        <div class="footer-link">
                             <a href="#">Laboratory Tests</a>
                             <a href="#">Departments</a>
                             <a href="#">Insurance Policy</a>
                             <a href="#">Careers</a>
                        </div>
                   </div>
                   <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                             <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i
                                       class="fa fa-angle-up"></i></a>
                        </div>
                   </div>
              </div>

         </div>
    </div>
</footer>

<script src="../../js/jquery.js"></script>
     <script src="../../js/bootstrap.min.js"></script>
     <script src="../../js/jquery.sticky.js"></script>
     <script src="../../js/jquery.stellar.min.js"></script>
     <script src="../../js/wow.min.js"></script>
     <script src="../../js/smoothscroll.js"></script>
     <script src="../../js/owl.carousel.min.js"></script>
     <script src="../../js/custom.js">

</script>

</body>
</html>